/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Globals  */
* {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	text-shadow: 0px 1px 2px rgba(3, 3, 3, 0.3)
}

/* Variables  */
:root {
	--color_Blue: #12B0DC;
	--color_Blue1: #1bd0f0;
	--color_Dark1: #1e1e1e;
	--color_Dark2: #252527;
	--color_Light: #f3f3f3;
	--color_Light1: #dfdfdf;
	--color_Light2: #c4c4c4;
	--color_Light3: #555555;
	--color_green1: #02b17c;
	--color_red1: #ff328b;
	--radius: 3px;
	--box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px,
	rgba(0, 0, 0, .14) 0 2px 2px 0,
	rgba(0, 0, 0, .12) 0 1px 5px 0;
}

/*  */
.text-red1 {
	color: var(--color_red1);
}

.text-blue {
	color: var(--color_Blue);
}

/*  */
input:focus {
	outline: none;
}

.btn {
	border: none;
	color: #fff;
	cursor: pointer;
	overflow: visible;
	padding: 5px 10px;
	text-transform: uppercase;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	background-color: var(--color_Blue);
	appearance: none;
	border-radius: var(--radius);
	will-change: transform, opacity;
	transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
	box-shadow: var(--box-shadow);
}
 
.btn:hover {
	box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px,
		rgba(0, 0, 0, .14) 0 4px 5px 0,
		rgba(0, 0, 0, .12) 0 1px 10px 0;
} 
.btn:focus {
	box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px,
		rgba(0, 0, 0, .14) 0 4px 5px 0,
		rgba(0, 0, 0, .12) 0 1px 10px 0;
} 
.btn:active {
	box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px,
		rgba(0, 0, 0, .14) 0 8px 10px 1px,
		rgba(0, 0, 0, .12) 0 3px 14px 2px; 
} 
input {
	border: none;
	padding: 5px;
	border-radius: var(--radius);
	box-shadow: var(--box-shadow); 
}
.btn-blue {
	background-color: var(--color_Blue); 
}
.btn-blue:active {
	background-color: var(--color_Blue1);
}
.btn-form { 
	padding: 0; 
	border: none;
	outline: none;
	color: var(--color_Light3);  
	display: flex;
	/* background-color: transparent; */
	
}
/*  */
/* =============== Sidebar =============== */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 260px;
	background-color: var(--color_Dark1);
	transition: all .5s ease;
	z-index: 100;
}

.sidebar.close {
	width: 78px;
}

/* --------- Logo ------------ */
.logo-box {
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	color: var(--color_Blue);
	transition: all .5s ease;
	overflow: hidden;
}

.logo-box:hover {
	color: var(--color_Blue1);
	text-shadow: 0px 1px 8px rgba(52, 218, 240, 0.6)
}

.logo-box img {
	font-size: 30px;
	width: 50px;
	margin: 5px 15px;
	text-align: center;
	transition: all .5s ease;

}

.sidebar.close .logo-box img {
	transform: rotate(360deg);
}

.logo-name {
	font-size: 22px;
	font-weight: 600;

}

/* ---------- Sidebar List ---------- */
.sidebar-list {
	height: 100%;
	padding: 30px 0 150px 0;
	overflow: auto;
}

.sidebar-list::-webkit-scrollbar {
	display: none;
}

.sidebar-list li {
	transition: all .5s ease;
}

.sidebar-list li:hover {
	background-color: var(--color_Dark2);
}

.sidebar-list li .title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all .5s ease;
	cursor: pointer;
}

.sidebar-list li.active .title {
	background-color: var(--color_Blue);
}

.sidebar-list li.active .bxs-chevron-down {
	transition: all .5s ease;
	transform: rotate(180deg);
}

.sidebar-list li .title .link {
	display: flex;
	align-items: center;
}

.sidebar-list li .title i {
	height: 50px;
	min-width: 78px;
	text-align: center;
	line-height: 50px;
	color: var(--color_Light1);
	font-size: 20px;
}

.sidebar-list li .title .name {
	font-size: 18px;
	font-weight: 400;
	color: var(--color_Light1);
}

/* ---------------- Submenu ------------- */
.sidebar-list li .submenu {
	width: 0;
	height: 0;
	opacity: 0;
	transition: all .5s ease;
}

.sidebar-list li.dropdown.active .submenu {
	width: unset;
	height: unset;
	opacity: 1;
	display: flex;
	flex-direction: column;
	padding: 6px 6px 14px 80px;
	background-color: var(--color_Dark2);
}

.submenu .link {
	color: var(--color_Light2);
	font-size: 15px;
	padding: 5px 0;
	transition: all .5s ease;
}

.submenu .link:hover {
	color: #fff;
}

.submenu-title {
	display: none;
}

/* ---------------- Submenu Close ------------- */
.sidebar.close .title .name,
.sidebar.close .title .bxs-chevron-down {
	display: none;

}

.sidebar.close .sidebar-list {
	overflow: visible;
}

.sidebar.close .sidebar-list li {
	position: relative;
}

.sidebar.close .sidebar-list li .submenu {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 100%;
	top: -10px;
	margin-top: 0;
	padding: 10px 20px;
	border-radius: 0 6px 6px 0;
	height: max-content;
	width: max-content;
	opacity: 0;
	transition: all .5s ease;
	pointer-events: none;
}

.sidebar.close .sidebar-list li:hover .submenu {
	opacity: 1;
	top: 0;
	pointer-events: initial;
	background-color: var(--color_Dark2);
}

.sidebar.close .submenu-title {
	display: block;
	font-style: 18px;
	color: var(--color_Light1);
}

/* =============== Home Section =============== */
.home {
	position: relative;
	background-color: #FFFFFF;
	left: 260px;
	width: calc(100% - 260px);
	height: 100vh;
	transition: all .5s ease;
}

.sidebar.close~.home {
	left: 78px;
	width: calc(100% - 78px);
}

.home .toggle-sidebar {
	height: 60px;
	display: flex;
	align-items: center;
	width: fit-content;
	cursor: pointer;
}

.home .toggle-sidebar i {
	font-size: 35px;
	color: var(--color_Dark1);
	margin-left: 15px;
}

.home .toggle-sidebar .text {
	font-size: 25px;
	color: var(--color_Dark1);
	font-weight: 600;
}

/* ========== Main =========== */

.home .container {
	height: 100%;
	padding: 10px;
}

.home .container .content {
	position: relative;
	height: 100vh;
	margin-top: 20px;
	padding: 10px;
	background-color: var(--color_Light);
}

.home .container .tools-bar {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	background-color: var(--color_Light);
}

.home .container .tools-bar .tools {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}

.home .container .tools-bar .tools > label {
	margin-bottom: 5px;
}

.home .container .tools-bar .search-tool {
	width: auto;
	max-width: 200px;
}

.home .container .content .items-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
	grid-gap: 20px;
	grid-auto-flow: dense;
}

.home .container .content .items-list .item {
	position: relative;
	align-items: center;
	display: flex;
	color: var(--color_Light3);
	background-color: #FFFFFF;
	border-radius: var(--radius);
	/* box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4),
		0px 5px 10px -3px rgba(0, 0, 0, 0.3),
		inset 0px -3px 0px rgba(0, 0, 0, 0.2); */
	box-shadow: var(--box-shadow);
}

.home .container .content .items-list .item .btn-remove { 
	color: var(--color_red1);
}

.home .container .content .items-list .item .btn-download {  
	cursor: pointer;
}

.home .container .content .items-list .item:hover {
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6),
		0px 7px 13px -3px rgba(0, 0, 0, 0.3),
		inset 0px -3px 0px rgba(0, 0, 0, 0.2);
}

.home .container .content .items-list .item .item-title {
	width: calc(100% - 10px);
	display: flex;
	margin-right: 10px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.home .container .content .items-list .item .item-title .item-name {
	margin: 5px 0;
	width: 100%;
	font-size: 13px;
	text-align: center;
}

.home .container .content .items-list .item .item-title .material-icons {
	font-size: 50px;
	color: var(--color_Light3);
}
.home .container .content .items-list .item .btn-container   {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.home .container .content .items-list .item .btn-container .material-icons {
	width: 15px;
	height: 15px;
	font-size: 15px; 
	background-color: var(--color_Light1);
}
/* .home .container .content .items-list .item .item-title .item-connected{ 
    font-size: 50px;
    color: #3ee8ee;
    text-shadow: 0px 1px 5px rgba(50, 194, 219, 0.5) 
} */
.home .container .content .items-list .item .item-info .item-details {
	visibility: hidden;
	transition: all .5s ease;
	position: absolute;
	top: 90px;
	right: -120vw;
	z-index: 99;
	font-size: 12px;
	line-height: 2;
	width: 300px;
	height: auto;
	padding: 10px;
	background-color: #FFFFFF;
	border-radius: var(--radius);
	box-shadow: var(--box-shadow);
}

.home .container .content .items-list .item-details ul li {
	display: flex;
	border-bottom: 1px solid var(--color_Light2);
}

.home .container .content .items-list .item-details .name-detail {
	margin-right: 10px;
	font-weight: bold;
}

.home .container .content .items-list .item-details .privatekey-value,
.publickey-value,
.allowedips-value { 
	overflow: hidden;
	text-overflow: ellipsis;
}

/* btn info click */
.home .container .content .items-list .item .item-info {

	justify-content: flex-end;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	display: flex;

}

.home .container .content .items-list .item .item-info .btn-info {
	transform: rotate(180deg);
	background-color: var(--color_Light1); 
}

.home .container .content .items-list .item .item-info .btn-info:hover {
	color: #FFFFFF;
	background-color: var(--color_Blue);
}

.home .container .content .items-list .item .item-info-active .btn-info {
	color: #FFFFFF;
	background-color: var(--color_Blue);

}

.home .container .content .items-list .item .item-info-active .item-details {
	visibility: visible;
	right: -200px;
	transition: all .5s ease;
}

.home .container .content .items-list .item .item-info-active .item-details::before {
	content: "▲";
	position: absolute;
	left: 10px;
	top: -27px;
	font-size: 20px;
	color: #FFFFFF;

}
.swal-button {
	padding: 7px 19px;
	border-radius: 2px;
	background-color: #4962B3;
	font-size: 12px;
	border: 1px solid #3e549a;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }
.toastify-warning {
	box-shadow: var(--box-shadow); 
	color: var(--color_Dark1);
	background: var(--color_red1);
}
.toastify-success {
	box-shadow: var(--box-shadow); 
	color: var(--color_Dark1);
	background: var(--color_green1);
}
/* Loading page */
.content .loading-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display:none;
	justify-content:center;
	align-items:center;
	z-index: 99999;
	background-color: #FFFFFF;
}
.loader { 
	width: 50px;
	margin-top: -200px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite; 
  }
  
  /* Safari */
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
/* ============ Responsive / Breakpoints ========== */
@media (max-width: 1080px) {}

/* For Medium Devices */
@media (max-width: 774px) {}

@media (max-width: 560px) {}

/* For Small Devices */
@media (max-width: 360px) {}

 